@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  max-width: 1366px;
  margin: auto auto;

  h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 30%;
  }
}

#navigation {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  width: 200px;
  height: 200px;
  background-color: red;
  img {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.title {
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
}
.non-viz {
  .container-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    .container {
      width: 100%;
      margin: auto auto;
      display: flex;
    }
  }
}

.introduction {
  position: relative;
  .container-wrapper {
    width: 70%;
    .container {
      flex-direction: row;
    }
  }
  .txt-container {
    width: 100%;
    // margin-left: 5%;
    display: inline-block;
  }
}

.non-viz {
  padding: 3em;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  blockquote {
    font-size: 2.3em;
    width: 30%;
    margin-top: 17%;
    position: absolute;

    span {
      width: 100%;
      background: red;
      display: block;
      height: 5px;
      margin-top: 20px;
    }
  }

  img {
    position: absolute;
  }

  img:nth-of-type(2) {
    width: 25%;
    right: 40%;
    top: 29%;
    margin-top: 15%;
  }
}
section:nth-child(odd) {
  background: #f1f1f1;
}
.sticky {
  background: white !important;
}

.percentage {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#box {
  width: 100px;
  height: 100px;
  position: absolute;
  border: 5px solid lightgray;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
