#viz {
  .wine-circle {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    opacity: 0%;
  }
  position: relative;
  .dots-container {
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    transform: translate(-50%, 0);
    // #dots-svg {
    //   opacity: 0;
    // }
  }

  .section {
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    .container-wrapper {
      padding-top: 20vh;
      width: 100%;
      .txt-container {
        width: 1000px;
        margin: auto auto;
        .title {
          font-size: 2em;
          display: block;
          font-weight: bold;
          color: #1a1a1a;
        }
        .content {
          display: block;
          font-size: 1.1em;
          opacity: 0.85;
          width: 60%;
          color: #262626;
          line-height: 1.3;
        }
      }

      #intro-txt {
        width: 850px;
      }

      #pairing {
        position: absolute;
        width: 1000px;
        z-index: 10;
        height: 200px;
        top: 70vh;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        .picture {
          width: 150px;
          height: 150px;
          margin-left: 25px;
          margin-right: 25px;
          // background-image: url('../dist/assets/food/vegetables.png');
          background-repeat: no-repeat;
          background-size: 150px;
        }
      }

      img {
        position: absolute;
        width: 1000px;
        top: 50vh;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
}

// #viz-sugar {
//   height: 150vh;
// }

// .section-1 {
//   .container-wrapper {
//     width: 80%;
//     .container {
//       flex-direction: col;
//     }
//   }
// }
