#viz {
  .wine-circle {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    opacity: 0%;
  }
  position: relative;
  .dots-container {
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    transform: translate(-50%, 0);
    // #dots-svg {
    //   opacity: 0;
    // }
  }

  .section {
    #viz-sugar {
      height: 150vh;
    }
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    .container-wrapper {
      padding-top: 30vh;
      width: 100%;
      .txt-container {
        width: 1000px;
        margin: auto auto;
        .title {
          font-size: 2em;
          display: block;
          font-weight: bold;
        }
        .content {
          display: block;
          font-size: 1em;
        }
      }
      img {
        position: absolute;
        width: 1000px;
        top: 50vh;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
}

#viz-sugar {
  height: 150vh;
}

// .section-1 {
//   .container-wrapper {
//     width: 80%;
//     .container {
//       flex-direction: col;
//     }
//   }
// }
